
<div class="newBereiche">
  <input
    [(ngModel)]="newBereich"
    placeholder="Neuer Bereich"
    class="form-control w-auto"
  />
  <button #addbtn (click)="addBereiche(addbtn)" class="btn2">Hinzufügen</button>
   <button [routerLink]="['']" class="back-btn " style="width: 120px; height: 45px">
  Home
  </button>
  <button [routerLink]="['/todos']" class="back-btn2 " style=" width: 130px;
  height: 45px;" >
  To-Dos
  </button>
</div>


<div class="carousel-container">
  <button class="carousel-button prev" (click)="prevSlide()">‹</button>

  <ul class="carousel-track">
    @for (bereich of bereiche; let i = $index; track bereich.id) {
      <!--Traversing through the Bereiche. Whenever the next button is clicked, it set the
       currentindex to the new idex and only displays that particular Bereich-->
      @if (i >= currentIndex && i < currentIndex + 3) {
        <li class="slide">
          <button class="bereich-item" (click)="goToTodos(bereich.id)">
            <div class="card text-black rounded-3 p-3">
              <h5 class="card-title fw-bold">{{ bereich.name }}</h5>
            </div>
            <div class="text-center mt-2">
              <button class="btn btn-sm btn-outline-dark" (click)="editCategories(bereich); $event.stopPropagation()">
                <img src="assets/edit.svg" alt="Edit" />
              </button>
              <button class="btn btn-sm btn-outline-dark me-1" #deleteBtn (click)="deletedCategories(bereich.id, deleteBtn); $event.stopPropagation()">
                <img src="assets/delete.svg" alt="Delete" />
              </button>
          </div>
          </button>
          
        </li>
      }
    }
  </ul>

  <button class="carousel-button next" (click)="nextSlide()">›</button>
</div>

<app-popup (bereichEdited)="handleBereichEdit($event)" #popup></app-popup>
