<header>
  <nav>
    <div class="left">
      <a><img src="../assets/home_black.png" routerLink="/"></a>
      <a class="title">{{urlName}}</a>
    </div>
    <div class="nav-links">
      <a routerLink="/todos" routerLinkActive="active">To-Do</a>
      <a routerLink="/about" routerLinkActive="active" href="/aboutus">About Us</a>
      <a routerLink="/login" routerLinkActive="active" href="/login">
        <i class="fas fa-sign-in-alt"></i> Login
      </a>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
