@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

.home-container {
  position:relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 5% 0 10%;
  background-color: white;
  transition-property: opacity, transform;
  transition-duration: 1500ms;

  @starting-style {
      opacity: 0;
      transform: translateX(-10px);
  }
  
}

.home-text {
  flex: 1;
  max-width: 50%;
  padding-top: 3%;
  
}
.filled-text, .outlined-text, .home-text h4{
  font-family: 'Poppins', sans-serif;
}
.filled-text {
  font-size: 3rem;
  font-weight:800;
  color: black;
  /*margin-bottom: 20px;*/
  margin:35px; /*35px*/
  margin-bottom:10px;
}
.outlined-text{
  font-size:3.5rem;
  font-weight:800;
   color:white; 
  -webkit-text-stroke: 1.2px #0a0a23;
  margin-bottom:40px;
  margin-left: 35px;
}

.home-text h4 {
  font-size: 24px;
  color: black;
  padding-left:40px;
}

.home-text button {
  padding: 12px 24px;
  background-color: #f4e9ae;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  margin:10px 0 0 35px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-text button:hover {
  background-color: #b8ab5e;
    color: white;
    border-color: #f4e9ae;
    transform: translateY(-2px);
}

.home-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image img {
  max-width: 500px;
  width:100%;
  height: auto;
}
