<div class="container-fluid bg-white min-vh-100 py-5 position-relative" style="height: 600px;">
  <div class="row justify-content-center gap-4">
    <div class="flip-card col-6 col-sm-4 col-md-2">
      <div class="flip-inner">
        <div class="flip-front card1-front"></div>
        <div class="flip-back card1-backk">
          <img src="/assets/meme1.jpg" class="img-fluid rounded" />
        </div>
      </div>
    </div>

    <div class="flip-card col-6 col-sm-4 col-md-2">
      <div class="flip-inner">
        <div class="flip-front card2-front"></div>
        <div class="flip-back card2-back">
          <img src="/assets/meme2.jpg" class="img-fluid rounded" />
        </div>
      </div>
    </div>

    <div class="flip-card col-6 col-sm-4 col-md-2">
      <div class="flip-inner">
        <div class="flip-front card3-front"></div>
        <div class="flip-back card3-back">
          <img src="/assets/meme3.jpg" class="img-fluid rounded" />
        </div>
      </div>
    </div>

    <div class="flip-card col-6 col-sm-4 col-md-2">
      <div class="flip-inner">
        <div class="flip-front card4-front"></div>
        <div class="flip-back card4-back">
          <img src="/assets/meme4.jpg" class="img-fluid rounded" />
        </div>
      </div>
    </div>

    <div class="flip-card col-6 col-sm-4 col-md-2">
      <div class="flip-inner">
        <div class="flip-front card5-front"></div>
        <div class="flip-back card5-back">
          <img src="/assets/meme5.jpg" class="img-fluid rounded" />
        </div>
      </div>
    </div>
  </div>

  <div class="position-relative text-black " >
    <h1 class="display-3">Organize</h1>
    <h2>us</h2>
    <h3>Life</h3>
    <h4>your</h4>
    <h5>with</h5>
  </div>
</div>

