<div class="container-fluid">
    <form [formGroup]="passwordForm" (ngSubmit)="handleSubmit()" class="form">
        <div class="form-group">
            <label for="exampleInputEmail1">Email Addresse</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Enter email">
            <div *ngIf="(passwordForm.get('email')?.invalid || passwordForm.get('email')?.errors?.['emailDomain'])
            && passwordForm.get('email')?.touched">
                <!-- Add your error message here, e.g.: -->
                <small class="text-danger">Please enter a valid email address.</small>
            </div>
        </div>
        <button [disabled]="!passwordForm.valid" type="submit" class="btn btn-primary">Link für neues Passwort senden</button>
        <p>Oder:</p>
        <div class="Registration">
            <label>Du hast noch kein Konto?
                <a routerLink="/registration" routerLinkActive="active">Registrieren</a>
            </label>
        </div>
    </form>

</div>