<div class="container-fluid">
    <h1>Projekt</h1>
    <div class="row">
        @for (todo of todos(); track todo.id) {

        <div class="col-md-4 mb-3"> <!-- 3 Cards Pro Reihe -->
            <div class="card h-100"> <!-- festgelegte Höhe -->
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">{{todo.title}}</h4>
                    <p class="card-text flex-grow-1">Deadline: {{todo.deadline}}</p>
                    <p class="card-text flex-grow-1">Schwierigkeit: {{todo.niveau}}</p>
                    <p class="card-text flex-grow-1">Priorität: {{todo.importance}}</p>
                    <button class="btn btn-primary" type="submit">Done</button>                </div>
            </div>
        </div>
        }
    </div>
</div>