<div class="container-fluid">
<!--COmmented out navbar because it was giving problems in dark mode--> 
  <!--<nav class="navbar bg-body-tertiary">-->
    <div class="container-fluid-navbar d-flex align-items-center gap-3">
      <!--<h1 class="navbar-brand mb-0 h1">Projekt</h1>-->
      <button (click)="
          openPopup('ToDo hinzufügen', 'Fügen Sie Ihr geplantes ToDo hinzu')
        " *ngIf="bereichsId">
        ToDo Hinzufügen
      </button>
      <app-popup (closed)="onPopupClosed()"></app-popup>
      <app-sort-filter-dropdown [title]="'Sortieren nach'" [options]="[
      { label: 'Deadline', value: 'deadline'},
      {label: 'Priorität', value: 'importance'},
      {label: 'Schwierigkeit', value: 'niveau'},
      {label: 'Alphabetisch', value: 'title'},
      ]" [actualSort]="actualSort" (select)="onSort($event)" [actualAscending]="ascending" (ascend)="getBool($event)"
        [isSortDropdown]="true">
      </app-sort-filter-dropdown>
      <app-sort-filter-dropdown [title]="'Filtern nach'" [options]="[
      { label: 'Unerledigt', value: 'false'},
      {label: 'Erledigt', value: 'true'},
      {label: 'Zeitraum', value: 'date-range'},
      ]" [actualSort]="actualFilter" (select)="onFilter($event)" [isSortDropdown]="false">
      </app-sort-filter-dropdown>
      <div class="right-buttons">
      <button [routerLink]="['/dustbin', bereichsId]" class="btn btn-warning dustbin-btn" *ngIf="bereichsId">
  Papierkorb</button>
       <button routerLink="/sections" class="btn btn-secondary back-btn">
  Zurück
</button>
</div>
    </div>
  <!--</nav>-->
  <h3 class="my-3">{{ bereichName }}</h3>
  <div class="todos-container">
    @for (item of filteredTodos; track item.id) {
    <div [appHighlightDoneTodos]="item.completed" class="arraycard" [ngClass]="{ done: item.completed }"
      style="position: relative;">
      <div *ngIf="item.id === justCompletedId" class="completed-overlay">
        🎉
        <br>
        <p>Erledigt!</p>
      </div>
      <h4 class="card-title">{{ item.title }}</h4>
      <p class="card-text flex-grow-1">Deadline: {{ item.deadline }}</p>
      <p class="card-text flex-grow-1">Priorität: {{ item.importance }}</p>
      <p class="card-text flex-grow-1">Schwierigkeit: {{ item.niveau }}</p>
      <div class="btn-toolbar" role="toolbar" >
        <button class="btn btn-primary" (click)="toggleCompleted(item)" type="button">
          <img src="assets/check_circle.svg" alt="Done" />
        </button>
        <button (click)="openEdit('Todo editieren: ' + item.title, item)">
          <img src="assets/edit.svg" alt="Edit" />
        </button>
        <button (click)="deleteTodo(item.id)">
          <img src="assets/delete.svg" alt="Remove" />
        </button>
      </div>
    </div>
    } @empty {
    <div>
      <div class="no-todos">
        <h5>Keine Todos angelegt!</h5>
      </div>
      @if(!applyFilterandSort.length){
      <div class="card" aria-hidden="true">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title placeholder-glow">
            <span class="placeholder col-6"></span>
          </h5>
          <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
          <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
        </div>
      </div>
      }
    </div>
    }
  </div>
</div>