<div class="container-fluid">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid-navbar d-flex align-items-center gap-3">
      <h1 class="navbar-brand mb-0 h1">Projekt</h1>
      <button (click)="
          openPopup('ToDo hinzufügen', 'Fügen Sie Ihr geplantes ToDo hinzu')
        ">
        ToDo Hinzufügen
      </button>
      <app-popup (closed)="onPopupClosed()"></app-popup>
      <app-sort-filter-dropdown [title]="'Sortieren nach'" [options]="[
      { label: 'Deadline', value: 'deadline'},
      {label: 'Priorität', value: 'importance'},
      {label: 'Schwierigkeit', value: 'niveau'}
      ]" [actualSort]="actualSort" (select)="onSort($event)"></app-sort-filter-dropdown>
      <app-sort-filter-dropdown [title]="'Filtern nach'" [options]="[
      { label: 'Undone', value: 'false'},
      {label: 'Done', value: 'true'},
      {label: 'Anstehende Todos', value: 'deadline'},
      {label: 'Alle Todos', value: 'all'	}
      ]" [actualSort]="actualFilter" (select)="onFilter($event)"></app-sort-filter-dropdown>
      <button routerLink="/dustbin" class="btn btn-warning">Papierkorb</button>
    </div>
  </nav>

  <div class="todos-container">
    <!-- Änderungen von Johanna: for loop track item.id und nicht arrayTodos.length, 
    weil sonst Fehlermeldung "duplicated keys", weil die Länge natürlich immer gleich ist 
    sortedTodos für dynamische Seitensortierung
    -->
    @for (item of sortedTodos(); track item.id) {
    <div [appHighlightDoneTodos]="item.completed" class="arraycard"
      [ngClass]="{ done: item.completed }">
      <h4 class="card-title">{{ item.title }}</h4>
      <p class="card-text flex-grow-1">Deadline: {{ item.deadline }}</p>
      <p class="card-text flex-grow-1">Schwierigkeit: {{ item.niveau }}</p>
      <p class="card-text flex-grow-1">Priorität: {{ item.importance }}</p>
      <div class="btn-toolbar" role="toolbar">
        <button class="btn btn-primary" (click)="toggleCompleted(item)" type="button">
          <img src="assets/check_circle.svg" alt="Done" />
        </button>
        <button (click)="openEdit('Todo editieren: ' + item.title, item)">
          <img src="assets/edit.svg" alt="Edit" />
        </button>
        <button (click)="deleteTodo(item.id)">
          <img src="assets/delete.svg" alt="Remove" />
        </button>
      </div>
    </div>
    } @empty {
    <div>
      <div class="no-todos">
        <h5>Keine Todos angelegt!</h5>
      </div>
      @if(!sortedTodos.length){
      <div class="card" aria-hidden="true">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title placeholder-glow">
            <span class="placeholder col-6"></span>
          </h5>
          <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
          <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
        </div>
      </div>
      }
    </div>
    }
  </div>
</div>