
<div class="d-flex justify-content-between align-items-center w-100 px-3">
  <h3 class="mb-4 ps-3">Papierkorb</h3>
  <button [routerLink]="['/todos', bereichsId]" class="btn btn-primary" style="width: 100px; height: 42px">
  Zurück
  </button>
</div>

<div class="dustbin-container">
  @for (todo of dustbinTodos; track todo.id) {
    <div class="dustbin-card" [ngClass]="{ 'done': todo.completed }">
      <h4>{{ todo.title }}</h4>
      <p>Deadline: {{ todo.deadline }}</p>
      <p>Schwierigkeit: {{ todo.niveau }}</p>
      <p>Priorität: {{ todo.importance }}</p>
      <div class="btn-toolbar">
        <button (click)="restore(todo.id)" class="btn btn-dark">Wiederherstellen</button>
        <button (click)="deletePermanently(todo.id)" class="btn btn-dark">Löschen</button>
      </div>
    </div>
  }
</div>


<ng-template #empty>
  <p>Keine gelöschten Todos.</p>
</ng-template>