.btn-dark{
    background-color: black;
    border: 0px;
    height:45px;
    color: white;
    width:auto;
    font-size:16px;
}
.btn-dark:hover{
    background-color: grey;
    color: white;
    width:auto;
    font-size:16px;
    transform: translateY(-2px);
}
.btn-primary{
    background-color: #f4e9ae;
    color: black;
    width: auto;
    border-color: #b8ab5e;
    border: 0px solid #b8ab5e;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-primary:hover {
    background-color: #b8ab5e;
    color: white;
    border-color: #f4e9ae;
    transform: translateY(-2px);
}
.dustbin-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 21px;
  transition-property: opacity, transform;
  transition-duration: 1500ms;

  @starting-style {
      opacity: 0;
      transform: translateX(-10px);
  }
}

.dustbin-card {
  background-color: #f8e7a2;
  color: black;
  padding: 20px;
  border-radius: 10px;
  width: calc(33% - 10px);
  box-sizing: border-box;
}

.dustbin-card.done {
  background-color: #78cb99 !important;
}

.dustbin-card h4 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.dustbin-card p {
  margin: 5px 0;
}

.dustbin-card .btn-toolbar {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
