.card {
    background-color: #f4e9ae;
    color:black;
}
h1{
    font-family:bold Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding: 1rem;
    color: white;;
}
.restbutt{
    background-color: #484443;
    color: white;
    width: 9rem;
    height:2.5rem;
    border-radius: 10%;
    border:0;
    font-size:17px;
}

